$font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-size: 12px;
$background: #f5f7fb;
$color: #495057;
$white: #fff;
$blue: #467fcf;
