{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        [
            "@babel/preset-react"
        ]
    ],
    "plugins": [
        ["@babel/plugin-proposal-object-rest-spread"],
        ["@babel/plugin-transform-runtime"],
        ["postcss-css-modules", { "extensions": [".scss"] }],
        ["file-loader", {
            "extensions": ["png", "jpg", "jpeg"],
            "publicPath" : "/images",
            "outputPath": "./public/images"
        }],
        ["inline-react-svg"]
    ]
}
